body{
	background-color:rgb(239,239,239);
}
.login-div{
   border:1px solid rgb(221,221,221);
   margin:auto;
   width:60%;
   margin-top:10%;
   background-color:white;
   padding:20px,0px,20px,0px;
}
.my-font{
   font-size:25px;
   font-family:consolas;
   color:black;
}
.my-text-field{
width:200px;
color:black;
}
.btn-mine{
   background-color:tomato;
   border:none;
   color:white;
   width:100%;
   border-radius:3px;
   padding:5px;
   margin-top:10px;
   
}
.btn-mine:hover{
  background-color:red;  
}
.btn-mine:active{
   background-color:green; 
}
.header{
   height:10px;
   background-color:black;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   color:white;
  
}
.footer{
   height:10px;
   background-color:black;
   position:fixed;
   bottom:0;
   left:0;
   width:100%; 
   color:white;
}
.err-text{
	font-size:15px;
	color:white;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }